<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.project2.bakingapplication">

    <!-- need to add permission to internet to watch the video -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".RecipeCardsActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".RecipeStepsActivity" />
        <activity android:name=".RecipeDetailActivity" />
        <activity android:name=".StepVideoActivity" />

        <!-- boardcast receiver -->
        <receiver android:name=".utilities.BakingAppWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/baking_app_widget_info" />
        </receiver>

        <!-- need to add permission allow system to bind the service to create the view -->
        <service
            android:name=".RecipeWidgetService"
            android:permission="android.permission.BIND_REMOTEVIEWS"
            android:exported="false">

        </service>

    </application>

</manifest>